h1{
    text-align:center
}
.event-card {
    background-color: lightgray;
    border: 1px solid black;
    color: red;
    width: calc(33% - 20px); 
    height: calc(33% - 20px); 
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box; 
    padding: 20px;
    list-style-type:none
}
.event-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    margin: 0 auto; 
    max-width: 1200px; 
}